.app {
    // display: none;
    background-image: url('../img/app/backapp.jpg');
    background-size: contain;
    color: white;
    .app_movie {
        padding: 120px 0 80px 0;
        margin: auto;
        max-width: 940px;
        // Content + button
        .app_link {
            padding: 60px 15px 0;
            button {
                background-color: #fb4226;
                ;
            }
            a {
                color: white;
                border-bottom: 1px solid white;
            }
        }
        // Mobile Slider
        .app_content {
            .app_content_slider {
                // padding: 0 138px;
                width: 50%;
                margin: 0 auto;
                position: relative;
                border-radius: 30px!important;
                overflow: hidden!important;
                height: 438px;
                background-image: url('../img/app/mobile.png');
                background-size: 100% 100%;
                .app_carousel {
                    .item {
                        position: relative;
                        overflow: hidden;
                        height: 438px;
                        &::before {
                            content: "";
                            display: block;
                            padding-top: 100%;
                            width: 100%;
                        }
                        .bg_img {
                            position: absolute;
                            margin: auto;
                            width: 100%;
                            top: 0px;
                            left: 0px;
                            height: 100%;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                        }
                        .item1 {
                            background-image: url('../img/app/slide1.jpg');
                        }
                        .item2 {
                            background-image: url('../img/app/slide2.jpg');
                        }
                        .item3 {
                            background-image: url('../img/app/slide3.jpg');
                        }
                    }
                    // .owl-item {
                    //     .item {
                    //         img {
                    //             width: 90%;
                    //             height: 90%;
                    //             margin: 0
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    .app_link {
        text-align: center;
    }
    .app {
        .app_movie {
            .app_content {
                .app_content_slider {
                    height: 844px;
                    .app_carousel {
                        .item {
                            height: 844px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .app_link {
        text-align: center;
    }
    .app {
        .app_movie {
            .app_content {
                .app_content_slider {
                    height: 697px;
                    .app_carousel {
                        .item {
                            height: 697px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:578px) {
    .app_link {
        text-align: center;
    }
    .app {
        .app_movie {
            .app_content {
                .app_content_slider {
                    height: 550px;
                    .app_carousel {
                        .item {
                            height: 550px;
                        }
                    }
                }
            }
        }
    }
}